[Unit]
Description=Consul Server 
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Environment="DATACENTER=dc1"
Environment="CONSUL_DATA_DIR=/etc/consul/data"
Environment="CONSUL_CONFIG_DIR=/etc/consul/config"
Environment="CONSUL_LOG_FILE=/etc/consul/logs/consul-server.log"
ExecStart=/usr/local/bin/consul agent -node=consul -config-dir=${CONSUL_CONFIG_DIR} -log-file=${CONSUL_LOG_FILE} -log-level=DEBUG
StandardOutput=append:$CONSUL_LOG_FILE
StandardError=append:$CONSUL_LOG_FILE

ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
