[Unit]
Description=DataView Service for Getting Users
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/dataview -config-file /etc/dataview.yml
Restart=on-failure
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
